<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="favicon.ico">

    <title>EmpleosApp | Formulario de Nuevo Empleado</title>
    <!-- Bootstrap core CSS -->
    <link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">
    <!-- Custom styles for this template -->
    <link th:href="@{/bootstrap/css/jumbotron.css}" rel="stylesheet">
    <link th:href="@{/bootstrap/css/sticky-footer-navbar.css}" rel="stylesheet">
  	</head>

  <body>

    <header>
      <nav class="navbar navbar-expand-md navbar-dark fixed-top " style="background-color:#d63384">
        <a class="navbar-brand" href="#">LibrosApp</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
          <ul class="navbar-nav mr-auto">
            <li class="nav-item">
              <a class="nav-link active" href="#">Inicio</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Menu 1</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="#">Menu 2</a>
            </li>          
          </ul>  
          <a class="btn bg-light text-dark" href="#">Ingresar</a>&nbsp;
          <a class="btn bg-light text-dark" href="#">Registrarse</a>
        </div>
      </nav>
    </header>

    <main role="main">     
      <hr>
      <div class="container"> 

        <div class="card">
          <h4 class="card-header"><strong>Formulario de compra</strong></h4>              
          <div class="card-body">
            <form method="post" th:action="@{/empleado/guardar}" th:object="${empleado}">              
              <div class="row">
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="nombre">Nombre del Product.</label>
                    <input type="text" class="form-control" id="nombre" th:field="*{nombre}" name="nombre" placeholder="Escriba el nombre del producto" required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="genero">Nombre</label>
                    <input type="text" class="form-control" id="genero" th:field="*{genero}" name="genero" placeholder="Escriba su nombre" required="required">
                  </div> 
                </div>    
                <div class="col-md-3"> 
                  <div class="form-group">
                  	<input type="hidden" th:field="*{id}">
                    <label for="nacionalidad">Email</label>
                    <input type="text" class="form-control" id="email" th:field="*{email}" name="email" placeholder="Escriba su email" required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                  	<input type="hidden">
                    <label for="nacionalidad">Precio</label>
                    <input type="text" class="form-control" id="salario" th:field="*{salario}" name="salario" placeholder="Escriba el precio del producto" required="required">
                  </div>
                </div>
                <div class="col-md-3"> 
                  <div class="form-group">
                    <label for="fechaNacimiento">Fecha decompra</label>
                    <input type="text" class="form-control" id="fechaNacimiento" th:field="*{fechaNacimiento}" name="fechaNacimiento" placeholder="Escriba la fecha de compra" required="required">
                  </div>
                </div>
              </div>                  
              <hr>
              <button type="submit" title="Guardar." class="btn text-white" style="background-color:#d63384">Guardar</button>  
            </form>
          </div>
        </div>
      </div> <!-- /container -->

    </main>

    <footer class="footer">
      <div class="container">
        <p>
          &copy; 2021 EmpleosApp, Inc. | WebApp Desarrollada con Spring Boot 2.3.0 y Bootstrap 4.2 | Autor: webmaster | &middot; <a href="#">Privacy</a>
          &middot; <a href="#">Terms</a>
        </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script> 
    <script th:src="@{/bootstrap/js/bootstrap.min.js}"></script>     
  </body>
</html>